<section class="hero">
  <div class="hero-box">
    <h1 class="main-tittle">
      hello, i am <br /><span class="green-span"
        >fullstack<br />
        developer</span
      >
    </h1>
    <ul class="social-list">
      <li class="social-item">
        <a href="https://www.instagram.com/goitclub/  " target="_blank"
          >Insragram</a
        >
      </li>
      <li class="social-item">
        <a href="https://www.facebook.com/goITclub/ " target="_blank"
          >Facebook</a
        >
      </li>
      <li class="social-item">
        <a
          href="https://www.linkedin.com/school/goit-start-your-career-in-it "
          target="_blank"
          >Linkedin</a
        >
      </li>
      <li class="social-item"><a href="">GitHub</a></li>
    </ul>
  </div>
  <div class="hero-text-box">
    <p class="main-text">
      I work with people all over the world to create
      <span class="green-span">impressive</span> and
      <span class="green-span">functional websites</span> that reflect each
      client’s unique personality.
    </p>
  </div>
</section>
