<section>
  <div class="live-block">
    <h3 class="visually-hidden">Tech Skills</h3>
    <ul class="rnunning-list">
      <li class="rnunning-item">HTML/CSS</li>
      <li class="rnunning-item">JavaScript</li>
      <li class="rnunning-item">React</li>
      <li class="rnunning-item">Node.js</li>
      <li class="rnunning-item">React Native</li>
      <li class="rnunning-item">Typescript</li>
    </ul>
    <ul class="rnunning-list">
      <li class="rnunning-item">HTML/CSS</li>
      <li class="rnunning-item">JavaScript</li>
      <li class="rnunning-item">React</li>
      <li class="rnunning-item">Node.js</li>
      <li class="rnunning-item">React Native</li>
      <li class="rnunning-item">Typescript</li>
    </ul>
  </div>
</section>
