.section {
  padding: 32px;
}

.section-tittle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 108px;
  line-height: 115%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: left;

  margin-left: 0;
}
