.tittle-hidden {
  text-align: center;
  display: none;
}

.live-block {
  top: 75%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--light-grey);
  color: var(--accet-green);
  padding: 40px 0px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  display: flex;
  overflow: hidden;
}
.dark-running-theme {
  background-color: var(--charcoal-dt);
}

.rnunning-list {
  animation: running-text 5s ease-in-out infinite;
  display: flex;
  flex-shrink: 0;
  gap: 16px;
  white-space: nowrap;
  min-width: 100%;
}
.rnunning-item {
  display: flex;
  gap: 16px;
  align-items: center;
}
.rnunning-item::before {
  content: '';
  display: block;
  border-radius: 2px;
  width: 8px;
  height: 8px;
  transform: rotate(-180deg);
  transition: background 0.3s;
}
.light-running-theme > .rnunning-list > .rnunning-item::before {
  background: var(--black);
}
.dark-running-theme > .rnunning-list > .rnunning-item::before {
  background: var(--white);
}

@keyframes running-text {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
